.git
.idea
.mvn
docs
scripts
src
uploads
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status
target/surefire-reports
target/test-classes
*.iml
*.log
*.tar
.tmp-*
HELP.md
README.md
mvnw
mvnw.cmd
pom.xml
